# IDEs
.idea/
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
.venv/
venv/
myvenv/

# Databases
*.sqlite3

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.coverage
htmlcov/
.pytest_cache

# Satic type checking
.mypy_cache
.pytype

# macOS
.DS_Store

# pre-commit
precommit_cache/
.precommit_cache/
.cache/pre-commit

# Database backups & mediafiles tarballs
mediafiles-*.tar.gz
mediafiles.tar.gz
pg_dumpfile
pg_dumpfile-*
pg_dumpfile.sql
*.pg_dump


# hypothesis testing plugin
.hypothesis

# Pyenv version file
.python-version
node_modules/

# Ignore dot env
*.env