process {
    withName: ANNOTATE_VARIANTS {
    container = "docker://ensemblorg/ensembl-vep:release_104.0"
    }
    queue = { task.time < 12.h ? 'normal' : task.time < 48.h ? 'long' : 'basement' }
    withName: sort_cram {
    container = "docker://quay.io-biocontainers-sambamba-1.0.1--h6f6fda4_2"
    }
    withName: coord_sort_cram {
    container = "docker://quay.io-biocontainers-sambamba-1.0.1--h6f6fda4_2"
    }

}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir = '/lustre/scratch125/casm/team113da/singularity_cache/dermatlas'
    username = ''
    password = ''
    }